body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #1F2937;
}

.top {
    display: flex;
    justify-content: space-between;
}

.middle {
    display: flex;
    justify-content: center;
    gap: 16px;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
    padding: 8px;
    margin-left: 100px;
}

.header-links {
    list-style-type: none;
    display: flex;
    padding: 8px;
    margin-right: 100px;
    gap: 32px;
}

.middle div,
.middle img {
   padding: 16px;
}

.hero-sec-text,
.header-links a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

.sign-up {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    padding: 8px 24px;
    border-radius: 5px;
}

.middle img {
    max-width: 400px;
    height: auto;
}

.info-header-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 800;
    text-align: center;
}

.info-text {
    font-size: 18px;
    color: #1F2937;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 32px;
}